<h1>@ViewData["Title"]</h1>
<body style="background-color:deeppink; text-align:center;">
    <header>



        <h1>About Us....</h1>
    </header>

    <p>
        <br>
        What is the important of university?
        Universities play an important role as leaders in teaching and learning, in education, research and technology. In teaching activities, universities provide the professional training for high-level jobs, as well as the education necessary for the development of the personality.
    </p>





</body>