<h1>@ViewData["Title"]</h1>
<table>

    <tr>
        <td>Your Name &nbsp :&nbsp &nbsp</td>
        <td><input type="text" name="Name" /></td>
    </tr>
    <tr>
        <td>Prodct Name &nbsp: &nbsp &nbsp</td>
        <td><input type="text" name="product name" /></td>
    </tr>
    <tr>
        <td>Reason &nbsp: &nbsp&nbsp</td>
        <td><textarea type="txt" name="txt" rows="3" cols="20"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="Submit" name="Send" /></td>
    </tr>

</table>